node_modules/
__pycache__/
.env
zip
uploaded_patches
temp_downloads
backups
backend/services.yaml
remote_vm_example/index.html
cannavaro_user_key.pem
git_key.pem
git_key.pem.pub
dev.bat
dev.sh
docker-compose.dev.yml
main.tf
variables.tf
cloud-init.yaml
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
reset_hetzner.sh
.terraform